In [3]:
import pandas as pd
from random import* #모듈 선언

In [4]:
#num = uniform(-1,1)   #-1~ 1 사이의 난수
randlist = [uniform(-2,2)]
for i in range(39):
    randlist.append(uniform(-1,1))
    
rand_df = pd.DataFrame({'A':randlist[0:10],
                        'B':randlist[10:20],
                        'C':randlist[20:30],
                        'D':randlist[30:40]})

In [5]:
name = ['피카츄','라이츄','파이리',"꼬부기","버터풀","야도란","피죤투","또가스"]
department = ['경제','경영','컴공','컴공','경제','전전','컴공','기계']
lang = ['파이썬','C','C++','파이썬','자바','엄','파이썬','자바']
work = ['AI엔지니어','프론트','백엔드','AI엔지니어','백엔드','프론트','AI엔지니어','PM']

df_py = pd.DataFrame({'이름': name,'학과': department,'언어' : lang, '직무' : work})

In [14]:
df_concat = pd.concat([rand_df,df_py])
df_concat.reset_index(drop = True, inplace = False)

           A         B         C         D   이름   학과   언어      직무
0  -0.769601  0.262799  0.361462  0.817874  NaN  NaN  NaN     NaN
1   0.618478  0.340891  0.916207 -0.160046  NaN  NaN  NaN     NaN
2   0.456089 -0.995074 -0.379386  0.784271  NaN  NaN  NaN     NaN
3  -0.970112 -0.580494  0.367327 -0.998109  NaN  NaN  NaN     NaN
4  -0.538138  0.738918 -0.555947 -0.998478  NaN  NaN  NaN     NaN
5  -0.937039 -0.869296 -0.822981  0.827435  NaN  NaN  NaN     NaN
6  -0.866375  0.716298 -0.407575  0.300822  NaN  NaN  NaN     NaN
7   0.775769 -0.325869  0.265846 -0.423230  NaN  NaN  NaN     NaN
8   0.899650 -0.764183  0.405982  0.959958  NaN  NaN  NaN     NaN
9   0.570508  0.243247 -0.246827  0.894248  NaN  NaN  NaN     NaN
10       NaN       NaN       NaN       NaN  피카츄   경제  파이썬  AI엔지니어
11       NaN       NaN       NaN       NaN  라이츄   경영    C     프론트
12       NaN       NaN       NaN       NaN  파이리   컴공  C++     백엔드
13       NaN       NaN       NaN       NaN  꼬부기   컴공  파이썬  AI엔지니어
14       NaN       NaN       NaN       NaN  버터풀   경제   자바     백엔드
15       NaN       NaN       NaN       NaN  야도란   전전    엄     프론트
16       NaN       NaN       NaN       NaN  피죤투   컴공  파이썬  AI엔지니어
17       NaN       NaN       NaN       NaN  또가스   기계   자바      PM

In [13]:
df_concatud = pd.concat([rand_df,df_py], axis = 1)
df_concatud

          A         B         C         D   이름   학과   언어      직무
0 -0.769601  0.262799  0.361462  0.817874  피카츄   경제  파이썬  AI엔지니어
1  0.618478  0.340891  0.916207 -0.160046  라이츄   경영    C     프론트
2  0.456089 -0.995074 -0.379386  0.784271  파이리   컴공  C++     백엔드
3 -0.970112 -0.580494  0.367327 -0.998109  꼬부기   컴공  파이썬  AI엔지니어
4 -0.538138  0.738918 -0.555947 -0.998478  버터풀   경제   자바     백엔드
5 -0.937039 -0.869296 -0.822981  0.827435  야도란   전전    엄     프론트
6 -0.866375  0.716298 -0.407575  0.300822  피죤투   컴공  파이썬  AI엔지니어
7  0.775769 -0.325869  0.265846 -0.423230  또가스   기계   자바      PM
8  0.899650 -0.764183  0.405982  0.959958  NaN  NaN  NaN     NaN
9  0.570508  0.243247 -0.246827  0.894248  NaN  NaN  NaN     NaN

In [17]:
df_nc = pd.DataFrame({'A': name,'B': department,'C' : lang, 'D' : work})
df_connew = pd.concat([rand_df,df_nc])
df_connew.reset_index(drop = True, inplace = False)

           A         B         C         D
0  -0.769601  0.262799  0.361462  0.817874
1   0.618478  0.340891  0.916207 -0.160046
2   0.456089 -0.995074 -0.379386  0.784271
3  -0.970112 -0.580494  0.367327 -0.998109
4  -0.538138  0.738918 -0.555947 -0.998478
5  -0.937039 -0.869296 -0.822981  0.827435
6  -0.866375  0.716298 -0.407575  0.300822
7   0.775769 -0.325869  0.265846  -0.42323
8    0.89965 -0.764183  0.405982  0.959958
9   0.570508  0.243247 -0.246827  0.894248
10       피카츄        경제       파이썬    AI엔지니어
11       라이츄        경영         C       프론트
12       파이리        컴공       C++       백엔드
13       꼬부기        컴공       파이썬    AI엔지니어
14       버터풀        경제        자바       백엔드
15       야도란        전전         엄       프론트
16       피죤투        컴공       파이썬    AI엔지니어
17       또가스        기계        자바        PM