In [3]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randn(100,5),columns = ['A','B','C','D','E'])
df

           A         B         C         D         E
0   0.796189 -0.933192 -0.654380  0.658427 -0.568898
1  -2.371252 -0.290829  1.076926  0.769020 -0.700655
2  -0.583687  0.530749  0.344051  1.151030  0.813228
3  -0.492488  0.962447  1.597063  0.837209 -1.287498
4   0.552946  1.052160  0.874507  0.581651  2.181254
..       ...       ...       ...       ...       ...
95  2.192220 -0.202288  0.672055 -0.564718  1.162374
96  0.784396  0.655041  0.954807  0.525002  1.071614
97 -0.745287  0.577996  0.679396  1.856219  2.388277
98  0.263465  1.747823  0.020738 -0.879569  0.059251
99 -1.911359  0.378230 -1.811881  0.780986 -1.510888

[100 rows x 5 columns]

In [6]:
for i in range(10):
    row_idx = np.random.choice(df.index)
    col_idx = np.random.choice(df.columns)
    df.loc[row_idx,col_idx] = np.nan
    
print(f"number of NaN Values :\n{df.isnull().sum()}")
print(f"Shape of Data Frame : {df.shape}")
####my code ####
df.dropna(inplace = True);

print(f"결측치 처리 후 :\n{df.isnull().sum()}")
print(f"Shape of Data Frame : {df.shape}")

number of NaN Values :
A    0
B    3
C    2
D    4
E    1
dtype: int64
Shape of Data Frame : (81, 5)
결측치 처리 후 :
A    0
B    0
C    0
D    0
E    0
dtype: int64
Shape of Data Frame : (73, 5)